@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 67% 96%; /* #fcf8f1 (Cream) */
    --foreground: 160 11% 10%; /* #171d1b */
    --card: 0 0% 100%;
    --card-foreground: 160 11% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 160 11% 10%;
    --primary: 163 78% 23%; /* #0d694f (Dark Green) */
    --primary-foreground: 160 100% 98%; /* #f5fff8 */
    --secondary: 13 100% 68%; /* #ff7e5f (Orange) */
    --secondary-foreground: 0 0% 100%;
    --muted: 37 40% 92%; /* #f3efe5 */
    --muted-foreground: 160 8% 36%;
    --accent: 37 40% 92%;
    --accent-foreground: 163 78% 23%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 37 30% 88%; /* #e8e2d5 */
    --input: 37 30% 88%;
    --ring: 163 78% 23%;
    --radius: 1.5rem;
  }
  .dark {
    --background: 160 10% 18%; /* #2b3230 */
    --foreground: 148 24% 94%; /* #ecf2ef */
    --card: 160 10% 18%;
    --card-foreground: 148 24% 94%;
    --popover: 160 10% 18%;
    --popover-foreground: 148 24% 94%;
    --primary: 155 49% 68%; /* #87d6b6 */
    --primary-foreground: 163 100% 13%; /* #002116 */
    --secondary: 120 12% 76%; /* #b9cbb7 */
    --secondary-foreground: 120 31% 9%; /* #101f12 */
    --muted: 156 12% 26%; /* #3f4944 */
    --muted-foreground: 156 12% 77%; /* #dee4e1 */
    --accent: 156 12% 21%;
    --accent-foreground: 155 49% 68%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 156 12% 26%;
    --input: 156 12% 26%;
    --ring: 155 49% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.bg-primary-gradient {
  background: linear-gradient(135deg, hsl(163 78% 23%) 0%, hsl(160 45% 35%) 100%);
}

.glass-panel {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
}
